[Desktop Entry]
Name=Eco Workspace
Comment=Native Linux terminal manager with custom splits
Exec=/home/shihab/Desktop/EchoWorkspace/eco_workspace.py %f
Icon=eco_workspace
Terminal=false
Type=Application
Categories=Development;System;TerminalEmulator;
Keywords=terminal;pty;split;workspace;record;eco;
StartupNotify=true
