[Desktop Entry]
Name=Eco Workspace
Comment=Native Linux terminal manager with custom splits
Icon=eco-workspace
StartupWMClass=EcoWorkspace
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;pty;split;workspace;record;eco;
StartupNotify=true
